

[submodule "bimerr-building"]
	path = bimerr-building
	url = https://github.com/oeg-upm/bimerr-building
[submodule "bimerr-core"]
	path = bimerr-core
	url = https://github.com/oeg-upm/bimerr-core
[submodule "bimerr-reality-capture"]
	path = bimerr-reality-capture
	url = https://github.com/oeg-upm/bimerr-reality-capture
[submodule "bimerr-project-management"]
	path = bimerr-project-management
	url = https://github.com/oeg-upm/bimerr-project-management
[submodule "bimerr-material"]
	path = bimerr-material
	url = https://github.com/oeg-upm/bimerr-material
[submodule "bimerr-energy-consumption"]
	path = bimerr-energy-consumption
	url = https://github.com/oeg-upm/bimerr-energy-consumption
[submodule "bimerr-gis"]
	path = bimerr-gis
	url = https://github.com/oeg-upm/bimerr-gis
[submodule "bimerr-building"]
	path = bimerr-building
	url = https://github.com/oeg-upm/bimerr-building
[submodule "weather"]
	path = weather
	url = https://github.com/oeg-upm/weather
