[submodule "BIMERR_Building"]
	path = BIMERR_Building
	url = https://github.com/oeg-upm/BIMERR_Building
	
[submodule "BIMERR_Material"]
	path = BIMERR_Material
	url = https://github.com/oeg-upm/BIMERR_Material
[submodule "BIMERR_GIS"]
	path = BIMERR_GIS
	url = https://github.com/oeg-upm/BIMERR_GIS
